<div class="row">
  <div class="span8 offset2">
  	<h1>Who's your match?</h1>
  	<p class="lead">
  	ChrisMatch is an algorithmic matching application. Answer fun questions to help me improve the algorithm and find your match!
  	</p>
  	<p>
  		<img src="http://cdn.poketo.com/shop/image/cache/data/apparel/sea-farer-socks-all-460x460.jpg" alt="socks" />
  </div>
</div>


